h1{
	margin-top: 10%;
	margin-left: 10%;
}


table{
	 margin-left: 150px;
     max-width: 100%;
    
}

td{
	width: 500px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
   
}


tr:hover {background-color: #f5f5f5;}

